<!DOCTYPE html>
<html>
<head>
  <title>Remindavax</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
	<% if current_patient %>
		Logged in as <%= current_patient.email %>.
		<%= link_to "Log out", log_out_path %><br />
		<%= link_to "Regimen", drugs_path %>
		<%= link_to "Settings", settings_path %>
	<% else %>
		<%= link_to "Log in", log_in_path %> or
		<%= link_to "Sign up", sign_up_path %>
	<% end %>
</div>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}"%>
<% end %>

<%= yield %>

</body>
</html>
