<%= form_for(setup_drug(@drug)) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
		<%= f.label :name %><br />
		<%= f.collection_select :name, Drug::DRUGS, :to_s, :to_s, :prompt => 'Select' %>
	</p>
	<p>
		<%= f.label :treatmentname %><br />
		<%= f.text_field :treatmentname %>
	</p>
	<p>
		<%= f.label(:days_worth_of_medication, "Days worth of medication") %><br />
		<%= f.number_field :days_worth_of_medication, :min => 1%>
	</p>
	<p>
		<%= f.label(:refill_date, "Refill date")%><br />
		<%= f.date_select :refill_date %>
	</p>

  <%= f.fields_for :dosage do |d|%>
    <p>
      <%= d.label :amount %><br />
      <%= d.text_field :amount %>
    </p>
    <p>
      <%= d.label :unit %><br />
      <%= d.text_field :unit %>
    </p>
  <% end %>

  <%= f.fields_for :frequency do |fr| %>
    <p>
      <%= fr.label(:times_per_day, "Times per Day")%><br />
      <%= fr.number_field :times_per_day, :min => 1%>
    </p>
    <p>
      <%= fr.label(:days_per_week, "Days per Week")%><br />
      <%= fr.number_field :days_per_week, :min => 1%>
    </p>
    <p>
      <%= fr.label(:weeks_per_month, "Weeks per Month")%><br />
      <%= fr.number_field :weeks_per_month, :min => 1%>
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit "Add Medication" %>
  </div>
<% end %>
